

.homeslices{
  .slice {
    border: 1px solid;
  }

  .slice-0 {
    @extend .slice;

    background-color: $color-serious-green;
  }

  .slice-1 {
    @extend .slice;

    background-color: $color-backoff-beige;
  }

  .slice-2 {
    @extend .slice;

    background-color: $color-nudging-orange;
  }
}